In [1]:
import numpy as np
import pandas as pd

import dask.dataframe as dd
import dask.array as da
import dask.bag as db

In [5]:
index = pd.date_range("2021-09-01", periods=2400, freq="1H")
df = pd.DataFrame({
    "a": np.arange(2400),
    "b": list("abcaddbe" * 300)
    },
    index=index)
ddf = dd.from_pandas(df, npartitions=10)
ddf

Dask DataFrame Structure:
                         a       b
npartitions=10
2021-09-01 00:00:00  int64  object
2021-09-11 00:00:00    ...     ...
...                    ...     ...
2021-11-30 00:00:00    ...     ...
2021-12-09 23:00:00    ...     ...
Dask Name: from_pandas, 1 graph layer